<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="../static/bootstrap/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/bootstrap/css/main.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Alter S</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#">Домой</a></li>
                    <li><a href="#">Про нас</a></li>
                    <li><a href="#">Услуги</a></li>
                    <li><a href="#">Работа</a></li>
                    <li><a href="#">Контакты</a></li>
                    <li><a href="#"><i class="fa fa-envelope-open-o" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>
    </div>

    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1>Alter S Company</h1>
                    <h2>Сделай правильный выбор</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container w">
        <div class="row centered">
            <br><br>
            <div class="col-lg-4">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
                <h4>Партнерство</h4>
                <p>Же лучше использовать при оценке качества восприятия макета набор. Который планируется использовать при запуске проекта – написание символов. Каждый веб-разработчик знает, что такое текст-рыба латыни и смысловую.
            </div>
            <div class="col-lg-4">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
                <h4>Надежность</h4>
                <p>Же лучше использовать при оценке качества восприятия макета набор. Который планируется использовать при запуске проекта – написание символов. Каждый веб-разработчик знает, что такое текст-рыба латыни и смысловую.
            </div>
            <div class="col-lg-4">
                <i class="fa fa-users" aria-hidden="true"></i>
                <h4>Комуникабельность</h4>
                <p>Же лучше использовать при оценке качества восприятия макета набор. Который планируется использовать при запуске проекта – написание символов. Каждый веб-разработчик знает, что такое текст-рыба латыни и смысловую.
            </div>
        </div>
        <br><br>
    </div>
    <div id="lg">
        <!--<div class="container">-->
            <div class="row centered">
                <h4>Наши поставщики</h4>
                <div class="col-lg-1 col-lg-offset-1 tilt">
                    <img class="img-circle" src="../static/bootstrap/img/delicia.png" alt="">
                </div >
                <div class="col-lg-1 tilt">
                    <img class="img-circle" src="../static/bootstrap/img/domash_svyato.jpg" alt="">
                </div>
                <div class="col-lg-1 tilt">
                    <img class="img-circle" src="../static/bootstrap/img/ferrero.jpg" alt="">
                </div>
                <div class="col-lg-1 tilt">
                    <img class="img-circle" src="../static/bootstrap/img/grona.jpg" alt="">
                </div>
                <div class="col-lg-1 tilt">
                    <img class="img-circle" src="../static/bootstrap/img/klim.png" alt="">
                </div>
                <div class="col-lg-1 tilt">
                    <img class="img-circle" src="../static/bootstrap/img/onis.jpg" alt="">
                </div>
                <div class="col-lg-1 tilt">
                    <img class="img-circle" src="../static/bootstrap/img/puratos.gif" alt="">
                </div>
                <div class="col-lg-1 tilt">
                    <img src="../static/bootstrap/img/purina.png" alt="">
                </div>
                <div class="col-lg-1 tilt">
                    <img src="../static/bootstrap/img/veres.png" alt="">
                </div>
            </div>
        </div>
    <!--</div>-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>